@keyframes dx-animation-3ca706a340e08c85 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate\:1s {
  animation: 1s forwards dx-animation-3ca706a340e08c85;
}

.p-4 {
  padding: 1rem;
}

.border-dashed {
  border-style: dashed;
}

@keyframes dx-animation-3ca706a340e08c85 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate\:1s {
  animation: 1s forwards dx-animation-3ca706a340e08c85;
}

.\?\@container\>640px\(text-xl\) {
  font-weight: 700;
  font-size: 1.125rem;
}

@container (min-width: 640px) {
  .\?\@container\>640px\(text-xl\) {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .lg\(p-3\) {
    padding: 0.75rem;
  }
}

.mb-4 {
  margin-bottom: 1rem;
}

.max-w-5xl {
  max-width: 64rem;
}

.\?\@container\>640px\(text-xl\) {
  font-weight: 700;
  font-size: 1.125rem;
}

@container (min-width: 640px) {
  .\?\@container\>640px\(text-xl\) {
    font-size: 1.25rem;
  }
}

.div\(div\(mt-4\)\) > div {
  margin-top: 1rem;
}

.div\(div\(mt-4\)\) > div {
  margin-top: 1rem;
}

.div\(h1\(font-bold\)\ p\(mt-2\)\) > h1 {
  font-weight: 700;
}

.div\(h1\(font-bold\)\ p\(mt-2\)\) > p {
  margin-top: 0.5rem;
}

.text-2xl {
  font-size: 1.5rem;
}

@container (min-width: 640px) {
  .\?\@container\>640px\(bg-green-200\ text-green-900\) {
    background-color: oklch(0.925 0.084 155.995);
    color: oklch(0.393 0.095 152.535);
  }
}

.mesh\(\[slate-100\,\ sky-200\]\,\ \[slate-300\,\ blue-300\]\) {
  background-image: radial-gradient(circle at 51.8% 54.7%, slate-100 115%), radial-gradient(circle at 36.5% 43.4%, sky-200 105%), radial-gradient(circle at 74.0% 43.0%, slate-300 95%), radial-gradient(circle at 31.8% 79.9%, blue-300 85%);
  background-size: cover;
  background-blend-mode: screen, lighten;
}

.font-bold {
  font-weight: 700;
}

.card\(p-13\ bg-black\/50\ backdrop-blur-lg\ rounded-xl\ shadow-lg\) {
  padding: 3.25rem;
  backdrop-filter: blur(16px);
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.\?\@self\:child-count\>2\(_highlight\):has( > :nth-last-child(n+2):first-child) {
  background-color: oklch(0.945 0.129 101.54);
  color: oklch(0.421 0.095 57.708);
}

.font-semibold {
  font-weight: 600;
}

.font-semibold {
  font-weight: 600;
}

.w-full {
  width: 100%;
}

.transition\(300ms\) {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.\*loading\(bg-gray-400\ animate-pulse\ cursor-wait\)[data-loading] {
  background-color: oklch(0.707 0.022 261.325);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  cursor: wait;
}

.font-semibold {
  font-weight: 600;
}

.max-w-full {
  max-width: 100%;
}

.overflow-auto {
  overflow: auto;
}

._highlight\(bg-yellow-200\ text-yellow-900\) {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: oklch(0.882 0.059 254.128);
  color: oklch(0.379 0.146 265.522);
}

.resize-x {
  resize: horizontal;
}

.overflow-auto {
  overflow: auto;
}

._highlight\(bg-yellow-200\ text-yellow-900\) {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: oklch(0.882 0.059 254.128);
  color: oklch(0.379 0.146 265.522);
}

.container-type-inline-size {
  container-type: inline-size;
}

.\~text\(2rem\@md\,\ 3rem\@xl\) {
  font-size: clamp(2rem, calc(2rem + 1 * (100vw - 768px) / (1280 - 768)), 3rem);
}

.transition\(500ms\) {
  padding: 2.5rem;
  background-color: oklch(0.627 0.265 303.9);
  border-radius: 0.5rem;
  width: 8rem;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.container-type-inline-size {
  container-type: inline-size;
}

.motion\(mass\:1\ stiffness\:180\ damping\:12\) {
  animation: dx-motion-keyframe-8e548e 600ms cubic-bezier(0.34,1.56,0.64,1);
}

.transition\(500ms\) {
  padding: 2.5rem;
  background-color: oklch(0.627 0.265 303.9);
  border-radius: 0.5rem;
  width: 8rem;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.motion\(mass\:1\ stiffness\:180\ damping\:12\) {
  animation: dx-motion-keyframe-8e548e 600ms cubic-bezier(0.34,1.56,0.64,1);
}

@media (min-width: 1024px) {
  .lg\(p-34\) {
    padding: 8.5rem;
  }
}

@media (min-width: 1024px) {
  .lg\(p-33\) {
    padding: 8.25rem;
  }
}

@media (min-width: 1024px) {
  .lg\(p-74\) {
    padding: 18.5rem;
  }
}

@keyframes dx-animation-bc326ef84011c522 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate\:2s {
  animation: 2s forwards dx-animation-bc326ef84011c522;
}
